In [4]:
import pandas as pd

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [5]:
data = pd.read_csv("basketball_games_data.csv")
display(data.head())

,Location,Team,Opponent,ADJO,ADJD,EFG%,TO%,OR%,FTR,Opp EFG%,Opp TO%,Opp OR%,Opp FTR
0,Neutral,Dayton,Cincinnati,118.7,102.5,56.8,13.1,29.5,24.6,57.4,14.2,36.2,23.6
1,Home,Texas A&M,Houston Christian,115.0,94.7,47.4,18.7,43.7,30.4,47.4,16.9,26.5,31.1
2,Home,BYU,Florida A&M,117.9,99.7,56.7,16.4,37.6,18.5,44.2,22.8,24.4,33.0